 @function rem($flexible) {
     @if $flexible !=0 {
         $flexible: $flexible/750*10+rem;
     }
     @return $flexible;
 }
 
 .l_header {
     width: 100%;
     height: rem(389);
     font-family: PF;
     background: url(../../img/mi_bg.png) no-repeat top center;
     background-size: rem(750) rem(389);
     position: relative;
     .aver_img {
         height: auto;
         position: absolute;
         width: 100%;
         top: rem(38);
         left: 50%;
         transform: translateX(-50%);
         text-align: center;
         .imgbox {
             width: rem(150);
             background: url(../../img/mi_headImg_bg.png) no-repeat center center;
             background-size: rem(150) rem(150);
             display: inline-block;
             height: rem(150);
             padding-top: rem(29);
         }
         img {
             width: rem(120);
             height: rem(120);
             border-radius: 50%;
         }
         .text {
             text-align: center;
             color: #FFFFFF;
             font-size: rem(36);
             margin-top: rem(20);
             margin-bottom: rem(30);
         }
     }
     .btn_blue {
         width: 100%;
         height: auto;
         text-align: center;
         button {
             width: rem(246);
             height: rem(90);
             line-height: rem(50);
             background: url(../../img/btn_blue_bg.png);
             text-align: center;
             color: #FFFFFF;
             font-size: rem(30);
             font-family: PF;
             border: 0px;
             background-size: rem(246) rem(90);
             padding-bottom: rem(20);
         }
     }
 }
 
 .mine_ul {
     width: 100%;
     height: auto;
     padding: rem(0) rem(0) rem(130) rem(50);
     font-family: PF;
     li {
         $h: rem(133);
         height: $h;
         width: 100%;
         border-bottom: 1px solid rgba(234, 237, 242, 1);
         padding-right: rem(85);
         position: relative;
         &:before {
             width: rem(15);
             height: rem(23);
             position: absolute;
             content: '';
             right: rem(50);
             top: 50%;
             transform: translateY(-50%);
             background: url(../../img/sp6.png) no-repeat;
             background-position: rem(-20) rem(0);
         }
         &:last-child {
             border-bottom: 0px;
         }
         .tips_name {
             padding-left: rem(60);
             color: #333333 100%;
             font-size: rem(32);
             height: 100%;
             line-height: $h;
             position: relative;
             &:before {
                 width: 22px;
                 height: 17px;
                 position: absolute;
                 top: 50%;
                 left: 0px;
                 transform: translateY(-50%);
                 background: url(../../img/sp6.png) no-repeat;
                 background-position: -291px -340px;
                 content: '';
             }
         }
         &:nth-child(2) {
             .tips_name {
                 &:before {
                     width: 22px;
                     height: 23px;
                     background-position: -232px -340px;
                 }
             }
         }
         &:nth-child(3) {
             .tips_name {
                 &:before {
                     width: 22px;
                     height: 20px;
                     background-position: -117px -340px;
                 }
             }
         }
         &:nth-child(4) {
             .tips_name {
                 &:before {
                     width: 22px;
                     height: 22px;
                     background-position: -58px -340px;
                 }
             }
         }
         &:nth-child(5) {
             .tips_name {
                 &:before {
                     width: 22px;
                     height: 18px;
                     background-position: 0px -340px;
                 }
             }
         }
          &:nth-child(6) {
             .tips_name {
                 &:before {
                     width: 22px;
                     height: 19px;
                     background-position: -174px -340px;
                 }
             }
         }
     }
 }