 @function rem($flexible) {
     @if $flexible !=0 {
         $flexible: $flexible/750*10+rem;
     }
     @return $flexible;
 }
 
 body {
     width: 100%;
     height: 100%;
     background: url(../../img/mm_bg.png) no-repeat center center;
     background-size: cover;
 }
 
 .orderlist {
     width: 100%;
     height: auto;
     padding: rem(30) rem(16);
     ul {
         li {
             width: 100%;
             height: auto;
             padding: rem(32) rem(58) rem(33) rem(231);
             min-height: rem(208);
             font-family: PF;
             background-color: #FFFFFF;
             border-radius: rem(6);
             position: relative;
             .averimg {
                 width: rem(139);
                 height: rem(143);
                 position: absolute;
                 top: rem(32);left: rem(48);
                 img{
                     width: 100%;height: auto;max-height: rem(143);
                 }
             }
           .title{
               width: 100%;height: auto;line-height: 1.5;margin-bottom: rem(20);
               color:#333333 100%;font-size: rem(30);
           } 
           .gray{
               font-size: rem(22);
               color: #999999 100%;
               margin-bottom: rem(20);
           } 
            &:before{
                width: rem(241);height: rem(54);
                content: ' ';background: url(../../img/mm_listDecorate.png) no-repeat;
                background-size: rem(241) rem(54);position: absolute;
                bottom: 0px;right: 0px;
            } 
             
         }
     }
 }